* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background-color: #eee;
	font-size: 1.6rem;
	overflow-x: hidden;
}

/* container */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* hero shadow */

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

/* ---- */

/* nav */

/* nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: none;
} */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 15rem;
	background: transparent;
	justify-content: space-between;
	/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
	z-index: 1;
}
.nav,
.nav .nav-links {
	display: flex;
	align-items: center;
}

.nav .nav-links li a::after {
	display: block;
	content: '';
	border-bottom: solid 3px #987a58;
	padding-bottom: 0.7rem;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.nav .nav-links a {
	line-height: 0.7rem;
}
.nav .nav-links li a:hover::after {
	transform: scaleX(1);
	transform-origin: 100% 50%;
}
.nav-active {
	font-weight: 700;
	border-bottom: solid 3px #987a58;
	padding-bottom: 0.62rem;
}

a {
	font-size: 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.nav .logo svg {
	width: 70px;
	height: 70px;
	fill: #8c7051;
}
.nav .nav-links {
	column-gap: 30px;
	list-style: none;
}
.nav .nav-links a {
	transition: all 0.2s linear;
}

.nav .nav-btn {
	font-size: 2rem;
	text-transform: uppercase;
	outline: none;
	padding: 1.5rem 2rem;
	background-color: #8c7051;
	color: white;
	border: 3px solid #8c7051;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.4s;
}

.nav .nav-btn:hover {
	/* color: #8c7051; */
	border: 3px solid #8c7051;
	background-color: transparent;
}

.nav .navOpenBtn {
	display: none;
}

/* header */
header {
	position: relative;
	height: 100vh;
}
video#herovd {
	position: absolute;
	top: 30%;
	left: 20%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/* background: url(placeholder.jpg) no-repeat;
	background-size: cover; */
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: Caveat;
}

.header-container p {
	font-size: 10rem;
	color: white;
}

.header-container svg {
	width: 80px;
	height: 80px;
	fill: #8c7051;
}

.header-description {
	font-size: 4rem !important;
	font-family: 'Raleway', sa;
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #8c7051;
	border-radius: 60px;
	position: relative;
	left: 0%;
	bottom: -25%;
	cursor: pointer;
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #8c7051;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.test {
	background-color: #fff;
	height: 100vh;
}

@media screen and (max-width: 1260px) {
	.nav {
		padding: 1.5rem 0.5rem;
	}
}
@media screen and (max-width: 960px) {
	.nav {
		padding: 1.5rem 0.5rem;
	}
	a {
		font-size: 1.6rem;
	}
	.nav .nav-btn {
		font-size: 1.6rem;
		padding: 1.3rem 1.5rem;
	}
}
@media screen and (max-width: 768px) {
	.nav .navOpenBtn,
	.nav .navCloseBtn, #siema {
		display: block!important;
	}
	.nav {
		padding: 15px 20px;
	}
	.nav .nav-links {
		display: none;
	}
	.nav.openNav .nav-links {
		left: 0;
	}
	.nav .navOpenBtn {
		color: #353842;
		font-size: 20px;
		cursor: pointer;
	}
	.nav .navCloseBtn {
		position: absolute;
		top: 20px;
		right: 20px;
		color: #353842;
		font-size: 20px;
		cursor: pointer;
	}
	#hero {
		background: url(placeholder.jpg) no-repeat;
		background-size: cover;
	}
	#bgvideo {
		display: none;
	}
}
