* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background-color: #eee;
	font-size: 1.6rem;
	overflow-x: hidden;
}

/* container */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* hero shadow */

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

/* ---- */

/* ---- */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: none;
}
.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: white;
	box-shadow: 0px 0px 10px #ccc;
	padding: 2.5rem 5rem;
}

.nav-item {
	list-style: none;
	margin-right: 3rem;
}

.nav-item a {
	font-size: 2rem;
	text-decoration: none;
	color: black;
	transition: all 200ms ease-in;
}

.nav-item a:hover {
	/* color: rgb(112, 110, 110); */
}

.nav-item:first-child {
	margin-right: auto;
	margin-left: 2rem;
}

.nav-item:nth-of-type(2) {
	margin-left: 3rem;
}

/* .nav-item i {
	font-size: 3rem;
} */

.nav-item-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list svg {
	width: 60px;
	height: 60px;
	fill: #8c7051;
}

.logo-text {
	font-size: 3rem !important;
	text-transform: uppercase;
}

li img {
	width: 50px;
	height: 50px;
}

header {
	position: relative;
	height: 100vh;
}
video#herovd {
	position: absolute;
	top: 30%;
	left: 20%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/* background: url(placeholder.jpg) no-repeat;
	background-size: cover; */
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: Caveat;
}

.header-container p {
	font-size: 10rem;
	color: white;
}

.header-container svg {
	width: 80px;
	height: 80px;
	fill: #8c7051;
}

.header-description {
	font-size: 4rem !important;
	font-family: 'Raleway', sa;
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #8c7051;
	border-radius: 60px;
	position: relative;
	left: 0%;
	bottom: -25%;
	cursor: pointer;
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #8c7051;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.test {
	background-color: #fff;
	height: 100vh;
}
