* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background-color: #eee;
	font-size: 1.6rem;
	overflow-x: hidden;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	height: 5px;
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #7c6f5f;
}

/* container */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* hero shadow */

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

/* ---- */

/* nav */

/* nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: none;
} */
.nav {
	/* display: flex; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 15rem;
	background: transparent;
	justify-content: space-between;
	/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
	z-index: 1;
	transition: background-color 0.3s;
}

.nav .nav-burger {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -350px;
	-webkit-transition: 0.5s;
	transition: transform 0.5s;
	margin: 0 auto;
}
.nav,
.nav .nav-links {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.nav .nav-links li a::after {
	display: block;
	content: '';
	border-bottom: solid 3px #987a58;
	padding-bottom: 0.7rem;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.nav .nav-links a {
	line-height: 0.7rem;
}
.nav .nav-links li a:hover::after {
	transform: scaleX(1);
	transform-origin: 100% 50%;
}

.nav-mobile-container-top {
	display: none;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: column;
	text-align: center;
}

.nav-mobile-container-top p {
	font-size: 9rem;
	color: #555;
	font-family: 'Caveat';
}

.nav-mobile-container-top svg {
	width: 80px;
	height: 80px;
	fill: #8c7051;
}

.nav-mobile-container {
	position: absolute;
	display: none;
	bottom: 10%;
	left: 52.5%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.nav-mobile-container i {
	font-size: 2rem;
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-right: 2.5rem;
	cursor: pointer;
	transition: color 0.3s;
	color: #8c7051;
	margin-right: 3.5rem;
}

.nav-active {
	font-weight: 700;
	border-bottom: solid 3px #987a58;
	padding-bottom: 0.62rem;
}

a {
	font-size: 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.nav .logo svg {
	width: 70px;
	height: 70px;
	fill: #8c7051;
	/* margin-right: 10rem; */
}
.nav .nav-links {
	column-gap: 30px;
	list-style: none;
}
.nav .nav-links a {
	transition: all 0.2s linear;
}

.nav .nav-btn {
	font-size: 1.8rem;
	text-transform: uppercase;
	outline: none;
	padding: 1.5rem 2rem;
	background-color: #8c7051;
	color: white;
	border: 3px solid #8c7051;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.4s;
}

.nav .nav-btn:hover {
	/* color: #8c7051; */
	border: 3px solid #8c7051;
	background-color: transparent;
}

.nav .burger-container {
	display: none;
	position: fixed;
	top: 2%;
	right: 4%;
	background-color: #8c7051;
	padding: 2rem;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999 !important;
	transition: 0.3s;
}
.nav .burger-container i {
	font-size: 3rem;
	color: white;
}

.active {
	top: 0 !important;
	right: 0 !important;
	z-index: 100;
	transition: 0.2s ease;
	background-color: #e8e0d7;
}

.hide {
	display: none;
}

/* header */
header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
video#herovd {
	position: absolute;
	/* top: 30%;
	left: 20%; */
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	/* -ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%); */
	background: url('/img/placeholder.png') no-repeat;
	background-size: cover;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Caveat';
}

.header-container p {
	font-size: 10rem;
	color: white;
}

.header-container svg {
	width: 80px;
	height: 80px;
	fill: #8c7051;
}

.header-description {
	font-size: 4rem !important;
	font-family: 'Raleway', sans-serif;
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #8c7051;
	border-radius: 60px;
	position: relative;
	left: 0%;
	bottom: -25%;
	cursor: pointer;
}

.mouse::before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #8c7051;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
/* appointment */
#appointment {
	/* background-color: #e5e5e5; */
}
.appointment-wrapper {
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #e5e5e5; */
	/* margin: 5rem; */
	padding-top: 5rem;
}

.form-area {
	display: flex;
	background-color: #fff;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 3rem;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.img-area {
	width: 80%;
}

.appointment-right {
	margin: 6rem 4rem;
}

#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.appointment-right h2 {
	font-weight: bold;
	font-size: 4rem;
	margin: 0 0 3rem;
	text-transform: uppercase;
}

.appointment-right input,
select,
textarea {
	width: 100%;
	margin-bottom: 1.5rem;
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	outline-style: hidden;
	resize: none;
	font-size: 1.5rem;
	outline: none;
}

input[type='datetime-local'] {
	color: #757575;
}
.appointment-right select {
	color: #757575;
	padding-left: 0.5rem;
}

.appointment-right a {
	background-color: #8c7051;
	color: #fff;
	display: inline-block;
	margin-top: 3.5rem;
	padding: 1rem 3rem;
	text-decoration: none;
	border-radius: 25px;
	text-transform: uppercase;
	font-weight: 900;
	border: none;
	transition: background-color 0.3s;
}

.appointment-right a:hover {
	background-color: #a38562;
}

div.img-area {
	height: 800px;
	width: 80%;
	background: url('/img/appointment.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

/* TEAM */

.team_section h1 {
	padding-top: 5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	font-size: 3.5rem;
	text-align: center;
}

.team-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden !important;
}

.team-col {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 0;
	align-items: center;
	height: 400px;
	width: 100%;
	z-index: 0;
	margin: 0 0.5rem;
}

.team-1 {
	background-image: url('/img/team1.jpg');
	background-size: cover;
	background-position: 50% 40%;
}

.team-2 {
	background-image: url('/img/team2.jpg');
	background-size: cover;
	background-position: 30% 50%;
}

.team-3 {
	background-image: url('/img/team3.jpg');
	background-size: cover;
	background-position: 50% 70%;
	/* margin-right: 0.5rem; */
}

.team-col h3 {
	color: white;
	text-transform: uppercase;
	font-size: 3rem;
}

.team-col p {
	color: white;
	text-transform: uppercase;
}

/* check prices */

.check-prices {
	padding-top: 10rem;
}

.check-prices-bgc {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	background-image: url('/img/check-prices.jpg');
	background-position: 10% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	z-index: 0;
}

.shadow-prices {
	background-color: rgba(0, 0, 0, 0.5);
}

.check-prices-bgc h3 {
	font-size: 3.5rem;
	font-weight: lighter;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	/* position: absolute; */
}

.check-prices-bgc i {
	font-size: 3rem;
}

.fa-arrow-down {
	display: none;
}

.check-prices-bgc a {
	padding: 0.8em 2.5em;
	/* margin-left: 4rem; */
	text-transform: uppercase;
	text-decoration: none;
	background-color: #8c7051;
	color: #fff;
	transition: background-color 0.3s;
	border-radius: 8px;
	border: none;
	margin-right: 7.5rem;
}

.check-prices-bgc a:hover {
	background-color: #a38562;
}

/* CONTACT */

.contactus {
	padding-bottom: 10rem;
}

.contactus h1 {
	padding-top: 10rem;
	padding-bottom: 5rem;
	text-transform: uppercase;
	font-size: 3.5rem;
	text-align: center;
}

.contactus-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contactus-map {
	/* width: 50%; */
}
.contactus-map iframe {
	width: 500px;
	height: 400px;
	box-shadow: 0 5px 10px #999;
}

.contactus-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 4rem;
}

.contactus-info h2 {
	text-align: center;
	text-transform: uppercase;
}

.contactus-description {
	color: #987a58;
}

.contactus-header {
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 3.5rem;
}

.contactus-header2 {
	margin-top: 1rem;
}

/* FOOTER */

footer {
	background-color: #111;
	box-shadow: 5px 5x 5px #999;
}

.footer-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 3rem;
	/* height: 50vh; */
}

.footer-left {
	/* border-right: 1px solid white; */
	padding-right: 3rem;
}

.footer-left p {
	font-size: 9rem;
	color: white;
	font-family: 'Caveat';
}

.footer-left svg {
	width: 80px;
	height: 80px;
	fill: #8c7051;
}

.footer-left-description {
	font-size: 3rem !important;
	font-family: 'Raleway', sans-serif !important;
}

.footer-center-border {
	height: 30vh;
	width: 1px;
	background-color: #e5e5e5;
	border-bottom: 1px solid white;
}
.footer-right {
	padding-left: 3rem;
	color: #e5e5e5;
}

.footer-right h2 {
	align-self: flex-start;
	justify-self: flex-start;
	font-size: 3.5rem;
	color: #e5e5e5;
	padding-bottom: 1rem;
}

.footer-right .working-hours td {
	padding: 0.8rem;
}

.footer-right .closed-hour {
	color: #8c7051;
}

.footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid white;
}

/* .footer-socials p {
	font-size: 2rem;
	color: white;
	margin-right: 2rem;
} */
.footer-socials i,
.footer-socials p {
	font-size: 2rem;
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-right: 2.5rem;
}

.footer-socials i {
	cursor: pointer;
	transition: color 0.3s;
	color: #8c7051;
}

.footer-socials i:hover {
	color: #e5e5e5;
}

/* PRICING.HTML */

.nav-pricing {
	background-color: #52483e;
	/* height: auto; */
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.11);
}

.pricing-container {
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Pricing Styles */
#pricing {
	background-color: #f2f2f2;
	padding: 6rem 0;
	/* height: 100vh; */
}

#pricing h2 {
	text-align: center;
	margin-bottom: 4rem;
	font-size: 4.5rem;
}

.pricing-table {
	display: flex;
	justify-content: center;
}

.pricing-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	margin: 0 20px;
	padding: 3rem 2rem;
	text-align: center;
	width: 30%;
}

.pricing-column h3 {
	font-size: 2.7rem;
	margin-bottom: 20px;
}

.pricing-column h4 {
	color: #999;
	font-size: 1.8rem;
	margin-bottom: 30px;
}

.pricing-column ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.pricing-column ul li {
	margin-bottom: 10px;
}

.pricing-column .pricing-btn {
	background-color: #8c7051;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 1.2rem 2.4rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	margin-top: auto;
}

.pricing-column .pricing-btn:hover {
	background-color: #ac8962;
}

/* ---- */

/* RESPONSIVE */
@media screen and (max-width: 1260px) {
	.nav {
		padding: 1.5rem 0.5rem;
	}
	.nav .nav-links li a::after {
		padding-bottom: 0.75rem;
	}
	.nav .nav-links a {
		line-height: 0.75rem;
	}
}

@media only screen and (max-width: 1181px) {
	.pricing-container {
		margin-top: 8rem;
	}
	.pricing-table {
		flex-wrap: wrap;
	}
	.pricing-column {
		margin-bottom: 40px;
		/* width: 70%; */
		flex-grow: 1;
		flex-basis: calc(100% / 3);
	}
}

@media screen and (max-width: 960px) {
	.nav {
		padding: 1.5rem 0.5rem;
	}
	a {
		font-size: 1.6rem;
	}
	.nav .nav-btn {
		font-size: 1.6rem;
		padding: 1.3rem 1.5rem;
	}
	.nav .nav-links li a::after {
		padding-bottom: 0.65rem;
	}
	.nav .nav-links a {
		line-height: 0.65rem;
	}
}

@media screen and (max-width: 785px) {
	.check-prices-bgc a {
		align-self: flex-end;
		margin-right: unset;
		margin: 0 4rem 8rem 0;
	}
}

@media screen and (max-width: 768px) {
	.nav {
		padding: 15px 20px;
	}
	.nav .nav-btn {
		display: none;
	}
	.nav .nav-links {
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 75px;
		right: -100%;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		margin: 0 auto;
	}

	.nav .nav-links a {
		font-size: 3rem;
		margin-bottom: 3rem;
		color: #747474;
	}
	.nav .nav-links li a::after {
		display: block;
		content: '';
		border-bottom: solid 3px #987a58;
		padding-bottom: 0rem;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
	}

	.nav .nav-links a {
		line-height: 8rem;
	}
	.nav .nav-links li a:hover::after {
		transform: scaleX(0);
		transform-origin: unset;
	}

	.nav .burger-container {
		display: block;
	}
	.nav-mobile-container-top {
		display: flex;
	}
	.nav-mobile-container {
		display: flex;
	}
	div.form-area {
		flex-direction: column;
		width: 100%;
	}
	div.img-area {
		height: 250px;
		min-width: 100%;
	}
	.appointment-right h2 {
		font-size: 3rem;
	}
	.team-wrapper {
		flex-direction: column;
	}
	.team-col {
		border-bottom: 3px solid #fff;
	}
	.team-1 {
		background-position: 30% 50%;
	}
	.team-2 {
		background-position: 50% 50%;
	}
	.team-3 {
		background-position: 50% 50%;
	}
	.contactus-wrapper {
		flex-direction: column;
	}
	.contactus-map {
		margin-bottom: 4rem;
	}
	.contactus-info {
		margin-left: 0rem;
	}
	.pricing-container {
		margin-top: 8rem;
	}
	.pricing-table {
		flex-wrap: wrap;
	}
	.pricing-column {
		margin-bottom: 40px;
		/* width: 50%; */
		flex-grow: 0;
		flex-basis: 75%;
	}
}

@media screen and (max-width: 705px) {
	.footer-left p {
		font-size: 6rem;
	}

	.footer-left svg {
		width: 60px;
		height: 60px;
		fill: #8c7051;
	}

	.footer-left-description {
		font-size: 2.5rem !important;
		font-family: 'Raleway', sans-serif !important;
	}
}

@media screen and (max-width: 576px) {
	.mouse {
		margin-bottom: 5rem;
	}
	.appointment-right h2 {
		font-size: 2.7rem;
	}
	.team-2 {
		background-position: 20% 50%;
	}
	.check-prices-bgc {
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}
	.check-prices-bgc h3 {
		text-align: center;
		font-size: 2.5rem;
	}
	.fa-arrow-right {
		display: none;
	}
	.fa-arrow-down {
		display: block;
		margin-top: 2rem;
	}
	.check-prices-bgc a {
		text-align: center;
		justify-self: center;
		align-self: center;
		margin: 0;
	}
	.footer-wrapper {
		flex-direction: column;
		justify-content: center;
	}
	.footer-center-border {
		height: 1px;
		width: 35vh;
		background-color: #e5e5e5;
		margin: 2rem 0;
		/* border-bottom: 1px solid white; */
	}
	.footer-left {
		text-align: center;
		padding-right: unset;
	}
	.footer-right {
		text-align: center;
		padding-left: unset;
	}
	.footer-right h2 {
		font-size: 2.8rem;
	}
	.footer-socials p {
		font-size: 1.8rem;
	}
	.nav-mobile-container-top p {
		font-size: 7rem;
		color: #555;
		font-family: 'Caveat';
	}
	.nav-mobile-container-top svg {
		width: 50px;
		height: 50px;
	}
	.pricing-container {
		margin-top: 8rem;
	}
	.pricing-table {
		flex-wrap: wrap;
	}
	.pricing-column {
		margin-bottom: 40px;
		/* width: 50%; */
		flex-basis: 100%;
	}
}

@media screen and (max-width: 432px) {
	.nav-mobile-container-top p {
		font-size: 5rem;
		color: #555;
		font-family: 'Caveat';
	}
	.nav-mobile-container-top svg {
		width: 40px;
		height: 40px;
	}
}
